<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= book.title %></title>
  </head>
  <body>
    <h5><%= book.title %></h5>
    <p><%=book.price%></p>
    <p><%=book.author%></p>
    <img src="<%=book.coverImg %>" />
    <div class="other"><%-msg %></div>
  </body>
</html>
